
body
{
    background-color: rgb(167, 247, 227);
}
img{
    margin-left: 5px;
    margin-right: 5px;
}

p.citat{
    background-color:rgb(255, 253, 164);
    border:1px solid #000;
    text-align:left;
    font-family:verdana,arial,sans-sarif;
    font-weight:bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

table a{
    display: table;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: gray;
    border: 1px solid;
}

th a{
     text-decoration:none;
    color: black;
     border: 1px solid;
}
td a{
    text-decoration: none;
    color: black;
     border: 1px solid;
}



