
body
{
    background-color: rgb(167, 247, 227);
}
img{
    margine-left: 5px;
    margine-right: 5px;
}

p.citat{
    background-color:rgb(255, 253, 164);
    text-decoration:non;
    border:1px solid #000;
    text-align:left;
    font-familiy:verdana,arial,sans-sarif;
    font-weight:bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}



table{
text-align: center;
font-size: 11px;
margin: 0px;
}
th {
color: black;
background-color: #666666;
font-size: 11px;
font-weight: normal;
padding: 4px;
border: 0px;
}
td {
color: black;
background-color: #DDDDDD;
font-size: 11px;
font-weight: normal;
padding: 4px;
border: 0px;

}


