
body
{
    background-color: rgb(167, 247, 227)6);
}
img{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

p.citat{
    background-color:yellow;
    text-decoration:non;
    border:1px solid #000;
    text-align:left;
    font-familiy:verdana,arial,sans-sarif;
    font-weight:bold;
}
#jahaci{
    display: inline;
}
#jahaci{
    color: #000;
    border-bottom: 2px solid #455372;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 1px;
    padding-left: 30px;
}
#jahaci li a{
    color: black;
}
#jahaci li a: hover{
  text-decoration: none;
  border-left-color: green;
  background-color: red;
}
